@font-face {
  font-family: 'Piazzolla';
  src: url('../fonts/Piazzolla-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla';
  src: url('../fonts/Piazzolla-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}


@font-face {
  font-family: 'Piazzolla SC';
  src: url('../fonts/PiazzollaSC-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Piazzolla SC';
  src: url('../fonts/PiazzollaSC-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-regular-subset.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-italic-subset.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}